* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

#fundo {
    height: 110px;
    width: 100vw;
    background-color: #009788;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    background-color: #DBDBD3;

    position: relative;
    z-index: -1;
}

#app {
    position: absolute;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.678);
}

#container {
    height: 100vh;
    width: 1305px;

    position: relative;
    z-index: 1;
    align-self: center;
    
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 60px 50px auto 60px;
    grid-template-areas: 
    'UI CI'
    'SI CD'
    'CL CD'
    'CL UM';
}

.item1 {
    grid-area: CD;

    background-position: center;
    background-repeat: initial;
    background-image: url(./fundo1.jpg);
}

.item2 {
    grid-area: UM;

    border: 1px solid rgba(0,0,0,0.08);
    background-color:#F0F0F0;
}

.item3 {
    grid-area: CI;
    
    padding: 10px 16px;

    border: 1px solid rgba(0,0,0,0.08);
    background-color: #EDEDED;
}

.item4 {
    grid-area: CL;
    border-right: 1px solid rgba(0,0,0,0.08);
    border-top: 1px solid rgba(0,0,0,0.08);
    background-color: #FFFFFF;
}

.item5 {
    grid-area: UI;
    background-color: #EDEDED;
}

.item6 {
    grid-area: SI;

    border-right: 1px solid rgba(0,0,0,0.08);
    background-color: #F6F6F6;
}