* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

#fundo {
    height: 110px;
    width: 100vw;
    background-color: #009788;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    background-color: #DBDBD3;

    position: relative;
    z-index: -1;
}

#app {
    position: absolute;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.678);
}

#container {
    height: 100vh;
    min-width: 1024px;
    width: 100%;

    position: relative;
    z-index: 1;
    align-self: center;
    
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 60px 50px auto 60px;
    grid-template-areas: 
    'UI CI'
    'SI CD'
    'CL CD'
    'CL UM';
}

.item1 {
    grid-area: CD;

    overflow: auto;

    background-position: center;
    background-repeat: initial;
    background-image: url(/img/fundo1.jpg);
}

.item2 {
    grid-area: UM;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    border: 1px solid rgba(0,0,0,0.08);
    background-color:#F0F0F0;
}

.item3 {
    grid-area: CI;
    
    min-width: 200px;
    padding: 10px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid rgba(0,0,0,0.08);
    background-color: #EDEDED;
}

.item4 {
    grid-area: CL;

    overflow: auto;
    min-width: 200px;

    display: flex;
    flex-direction: column;

    border-right: 1px solid rgba(0,0,0,0.08);
    border-top: 1px solid rgba(0,0,0,0.08);
    background-color: #FFFFFF;
}

.item5 {
    grid-area: UI;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #EDEDED;
}

.item6 {
    grid-area: SI;

    min-width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid rgba(0,0,0,0.08);
    background-color: #F6F6F6;
}

#search {
    height: 35px;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:white;

    border: none;
    border-radius: 16px;
}

#search img {
    transform: rotate(270deg);

    margin-left: 10px;

    cursor: pointer;

    height: 12px;
    width: 12px;
}

#txtsearch {
    outline: 0;
    height: 35px;
    width: 280px;
 
    font-family:  'Ubuntu', sans-serif;
    font-size: 12px;
    color:#919191;

    border: none;
    border-radius: 16px;

    padding-left: 15px;
}

#message {
    width: 100%;
    padding: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#chat {
    outline: 0;
    height: 20px;
    width: 90%;

    font-family:  'Ubuntu', sans-serif;
    font-size: 14px;
    color:#919191;

    padding: 9px 12px 11px;
    margin: 5px 5px;

    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 21px;   
}

#message img {
    height: 25px;
    width: 25px;

    margin: 10px;  
    cursor: pointer; 
}

#user {
    display: flex;
    align-items: center;

    margin: 20px;
}

#user img,
#icon img {
    height: 40px;
    width: 40px; 

    transform: rotate(45deg);

    border-radius: 50%;
}

.buttons{
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ret {
    height: 18px;
    width: 18px; 
}

.btn img,
.buttons img {
    height: 22px;
    width: 22px; 
    margin: 10px;  

    cursor: pointer;
} 

#busca {
    height: 18px;
    width: 18px; 
    transform: rotate(270deg);
}

#icon {
    display: flex;
    align-items: center;
}

#icon h1{
    font-family:  'Ubuntu', sans-serif;
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
}

.item4 img{
    height: 50px;
    width: 50px; 
    margin: 10px;

    border-radius: 50%;

    cursor: pointer;
}

#inst,
.user,
#feedback,
#fav {
    display: flex;

}

#instcont,
#favcont,
.usercont,
#feedcont {
    display: flex;
    align-items: center;

    width: 100%;
    margin-left: 13px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.055);

    font-family:  'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.item4::-webkit-scrollbar { 
    -webkit-appearance: none; 
    outline: none;
 
    height: 0.5em;
    background:#FFFFFF;
    border-radius: 10%;
}

.item4::-webkit-slider-thumb {
    -webkit-appearance: none; 

    background: #172329;
    border-radius: 10px;
}